flow/flows_pi-B.json
[
    {
        "id": "65fb01a0.e8dc18",
        "type": "tab",
        "label": "node4blinkt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a4bbfec.ee259",
        "type": "twitter-credentials",
        "z": "",
        "screen_name": ""
    },
    {
        "id": "e45c40cf.03f228",
        "type": "mqtt-broker",
        "z": "",
        "broker": "TODO",
        "port": "1883",
        "clientid": "pizza",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "baf36452.bc915",
        "type": "function",
        "z": "65fb01a0.e8dc18",
        "name": "Toggle 0/1 on input",
        "func": "\ncontext.state = context.state || 0;\n\n(context.state === 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 40,
        "wires": [
            [
                "8fe22099.8db448"
            ]
        ]
    },
    {
        "id": "ebcbe554.64949",
        "type": "debug",
        "z": "65fb01a0.e8dc18",
        "name": "",
        "active": true,
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "48472477.0ea97c",
        "type": "inject",
        "z": "65fb01a0.e8dc18",
        "name": "tick every 1 sec",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 149,
        "y": 40.000000953674316,
        "wires": [
            []
        ]
    },
    {
        "id": "1363a85e.1f78f",
        "type": "rpi-blinkt out",
        "z": "65fb01a0.e8dc18",
        "name": "",
        "x": 848,
        "y": 201,
        "wires": []
    },
    {
        "id": "a0c04713.ea5768",
        "type": "function",
        "z": "65fb01a0.e8dc18",
        "name": "2blinkt",
        "func": "let result = {\n    payload: '0,0,255',\n    topic: 'pixel.' + (msg.payload)\n};\nreturn result;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "1363a85e.1f78f",
                "ebcbe554.64949"
            ]
        ]
    },
    {
        "id": "8fe22099.8db448",
        "type": "function",
        "z": "65fb01a0.e8dc18",
        "name": "bool2color",
        "func": "context.counter = context.counter || 0;\nnode.log('foo');\ncontext.counter = context.counter < 7 ? context.counter + 1 : 0;\n\nlet result = {\n    payload: context.counter\n}\nreturn result;",
        "outputs": 1,
        "noerr": 0,
        "x": 468,
        "y": 144,
        "wires": [
            [
                "a0c04713.ea5768",
                "f55dd1be.cb0fa8"
            ]
        ]
    },
    {
        "id": "f55dd1be.cb0fa8",
        "type": "function",
        "z": "65fb01a0.e8dc18",
        "name": "0blinkt",
        "func": "let index = msg.payload - 1;\nindex = index !== 0 ? index : 7;\n\nlet result = {\n    payload: '0,0,0',\n    topic: 'pixel.' + index\n};\nreturn result;",
        "outputs": 1,
        "noerr": 0,
        "x": 622,
        "y": 354,
        "wires": [
            [
                "1363a85e.1f78f"
            ]
        ]
    },
    {
        "id": "b8cc2d38.939df8",
        "type": "mqtt in",
        "z": "65fb01a0.e8dc18",
        "name": "",
        "topic": "pizza",
        "qos": "2",
        "broker": "e45c40cf.03f228",
        "x": 114,
        "y": 133,
        "wires": [
            [
                "baf36452.bc915"
            ]
        ]
    }
]